.create-task-container {
  background-image: url('../assets/createtask.jpg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: 30px;
  padding: 20px; 
  padding-top: 70px;
}

.create-task-container .navbar {
  width: 100vw;
  margin: 0;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.create-task-form {
  width: 100%;
  max-width: 450px;
  padding: 40px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.95); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  margin-top: 30px; 
}

.create-task-form h1 {
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
  color: #333; 
}

.create-task-form input,
.create-task-form textarea,
.create-task-form select {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 2px solid #6a11cb; 
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #f9f9f9;
}

.create-task-form input:focus,
.create-task-form textarea:focus,
.create-task-form select:focus {
  border-color: #2575fc; 
  box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
  outline: none;
}

.create-task-form button {
  width: 100%;
  padding: 14px;
  background-color: #6a11cb;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.create-task-form button:hover {
  background-color: #2575fc;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Media queries */
@media (max-width: 768px) {
  .create-task-form {
    padding: 30px; 
    margin: 20px;
  }

  .create-task-form h1 {
    font-size: 24px; 
  }

  .create-task-form button {
    padding: 12px;
    font-size: 16px; 
  }
}

@media (max-width: 480px) {
  .create-task-form {
    padding: 15px; 
  }

  .create-task-form h1 {
    font-size: 22px; 
  }

  .create-task-form button {
    padding: 10px; 
    font-size: 14px; 
  }
}
