.navbar {
  width: 100%;
  background: #fff;
  padding: 10px 0;
  box-shadow: 0px 5px 0px #dedede;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.navbar nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap; /* Prevent line breaks */
}

.navbar nav ul li {
  display: inline-block;
  margin: 0 15px;
}

.navbar nav ul li a {
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.navbar nav ul li a:hover {
  color: #007BFF;
}

.notification-icon {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.notification-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 6px;
  font-size: 12px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar {
    overflow-x: auto; /* Allow horizontal scrolling */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }

  .navbar nav ul {
      flex-wrap: nowrap; /* Prevent items from wrapping */
  }

  .navbar nav ul li {
      font-size: 14px;
      margin: 0 10px;
  }

  .navbar nav ul li a {
      padding: 10px 15px;
  }
}
