.notifications-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f7f7f7;
    padding: 20px;
    margin-top: 90px;
}

.clear-button {
    padding: 8px 12px;
    width: 200px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-left: 1270px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.clear-button:hover {
    background-color: #d32f2f;
}

.notifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
}

.notification-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    flex: 0 0 calc(50% - 20px);
    transition: transform 0.2s;
    border: 2px solid transparent;
}

.notification-box:hover {
    transform: translateY(-5px);
}

.notification-box p {
    margin: 0;
    font-size: 16px;
    color: #444;
    font-weight: bold;
}

.notification-box small {
    color: #888;
    font-size: 12px;
    display: block;
    margin-top: 4px;
}


.notification-overdue {
    border: 2px solid #f44336;
}

.notification-completed {
    border: 2px solid #4caf50;
}

.notification-edited,
.notification-created {
    border: 2px solid #ddd;
}
